body {
  background:black;
  color:white;
  font-family: Arial, sans-serif;
  text-align:center;
  margin:0;
  padding:0;
}

nav {
  background:black;
  padding:15px;
  text-align:center;
}

nav a {
  color: lime;
  margin: 0 20px;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
}

nav a:hover {
  color:white;
}

#timer {
  font-size:50px;
  margin-top:50px;
}

#reveal {
  display:none;
  margin-top:50px;
  font-size:40px;
}

iframe {
  width:80%;
  height:400px;
  border:2px solid lime;
  border-radius:10px;
  margin-top:50px;
}

form {
  background:black;
  padding:20px;
  border-radius:10px;
  width:80%;
  margin:50px auto;
  text-align:left;
}

form label {
  color:lime;
  font-size:20px;
}

form input, form textarea {
  background:lime;
  color:black;
  padding:5px;
  width:100%;
  margin-top:5px;
  margin-bottom:15px;
}

form input[type="submit"] {
  font-weight:bold;
  cursor:pointer;
}
